// Strona główna
.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../images/main.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  nav {
    transform: scale(1.6);
  }
}

// Nawigacja
nav.btn-group {
  display: flex;
  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active,
  .btn:active {
    color: var(--bs-gray-100);
    background-color: var(--bs-gray-600);
    border-color: var(--bs-gray-700);
    cursor: default;
  }
  .btn {
    color: var(--bs-gray-800);
    background-color: var(--bs-gray-100);
    border-color: var(--bs-gray-700);
    &:hover {
      color: var(--bs-gray-100);
      background-color: var(--bs-gray-600);
      border-color: var(--bs-gray-700);
    }
  }
}

// Paginacja
.page-item:not(.active) .page-link {
  color: var(--bs-gray-800);
}
.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--bs-gray-100);
  background-color: var(--bs-gray-600);
  border-color: var(--bs-gray-700);
}
//Nowy modal - z nawigacją
#imageModal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);
  z-index: 9999;

  display: none;
  justify-content: center;
  align-items: center;
  &.active {
    display: flex;
  }
  /* Zamknięcie */
  #modalClose {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 50px;
    color: white;
    cursor: pointer;
    z-index: 99;
    &:hover {
      color: #000;
    }
  }
  .modal-content {
    align-items: center;
    #modalImage {
      max-width: 85vw;
      height: 85vh;
      box-shadow: 0 0 17px rgba(0, 0, 0, 0.7);
      object-fit: cover;
      cursor: pointer;
    }
    #modalCaption {
      background-color: #fff;
      padding: 1rem;
      margin-top: 1rem;
      color: #000;
      font-size: 1.6rem;
      width: 100%;
      text-align: center;
    }
  }
  /* Strzałki */
  #modalPrev,
  #modalNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 20px;
    user-select: none;
    svg {
      fill: white;
      width: 60px;
      height: 60px;
    }
    &:hover {
      svg {
        fill: #000;
      }
    }
  }

  #modalPrev {
    left: 20px;
  }
  #modalNext {
    right: 20px;
  }
}

//Ciąg dalszy
.container {
  min-height: 100vh;
  h1,
  h2 {
    font-family: "Playfair Display", serif;
  }
}
@media (max-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 100vw;
    padding-left: 0;
    padding-right: 0;
  }
}
// Tabela z danymi
#itemsTable {
  tbody {
    tr {
      cursor: pointer;
      td {
        &.img-column {
          text-align: center;
          vertical-align: middle;
          img {
            width: auto;
            max-height: 100px;
            cursor: pointer;
            border-radius: 4px;
          }
        }
      }
    }
  }
  &.biblioteczny {
    tbody {
      tr {
        cursor: default;
      }
    }
  }
}

// Karta przedmiotu
body.card-page {
  background: #f5f5f5;
  .print-btn,
  .link-btn {
    position: fixed;
    right: 20px;
    z-index: 9;
  }
  .print-btn {
    top: 20px;
  }
  .link-btn {
    top: 80px;
  }
  .a4 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 210mm;
    min-height: 297mm;
    margin: 10px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    h1,
    h2,
    h3,
    .headerTXT {
      font-family: "Playfair Display", sans-serif;
    }

    p {
      font-family: "Lato", sans-serif;
    }
    @header: 19mm;
    @footer: 16mm;
    header {
      height: @header;
      background-color: #f6f6f6;
      padding: 0 10mm;
      text-align: center;
      h3 {
        margin: 2mm 0 0 0;
      }
      p {
        margin: 0 0 2mm 0;
      }
    }
    article {
      height: calc(297mm - @header - @footer);
      padding: 5mm 10mm;
      h1 {
        span {
          font-family: "Lato", sans-serif;
          color: #555;
          text-transform: lowercase;
          font-size: 0.7em;
        }
      }
      .description {
        picture {
          float: right;
          width: 40%;
          max-height: 70mm;
          margin: 0 0 3mm 5mm;
          text-align: right;
        }
        img {
          max-height: inherit;
        }
        p {
          text-align: justify;
        }
      }
    }
    .card {
      width: 100%;
      overflow: hidden;
      .card-body {
        dl.row {
          margin-bottom: 0;
          dt {
            text-align: right;
          }
        }
      }
    }
    footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: @footer;
      padding: 2mm 10mm 0 0;
      background-color: #f6f6f6;
      text-align: center;
      p {
        margin: 0;
        font-size: 0.8rem;
      }
    }
    h1 {
      margin-top: 0;
    }
  }
  a.nav-btn {
    position: fixed;
    top: 0;
    width: calc(50% - 110mm);
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 8;
    svg {
      fill: #a8a8a8;
      width: 45px;
      height: 45px;
    }
    &.prev {
      left: 0;
      justify-content: flex-end;
    }
    &.next {
      right: 0;
      justify-content: flex-start;
    }
    &:hover {
      svg {
        fill: #555;
      }
    }
  }
}
/* DRUK */
@media print {
  body {
    background: white;
  }

  .print-btn,
  .link-btn,
  body.card-page a.nav-btn {
    display: none;
  }

  body.card-page .a4 {
    box-shadow: none;
    margin: 0;
  }
}

footer {
  box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.05);
  padding: 1rem 0 0.6rem 0;
  margin-top: 2rem;
  p {
    margin: 0;
    text-align: center;
    strong {
      font-family: "Playfair Display", sans-serif;
    }
  }
}
